{% extends "base.html" %}
{% load static %}
{% block content %}


<section class="section-content padding-y bg">
	<div class="container">
		<form method="POST" action="#">
			{% csrf_token %}
			<div class="row">

				<!-- Main content area -->
				<main class="col-md-8">

					<!-- Cart items review -->
					<article class="card mb-4">
						<div class="card-body">
							<h4 class="card-title mb-4">Review cart</h4>
							{% for cart_item in cart_items %}
							<div class="row">
								<div class="col-md-6">
									<figure class="itemside mb-4">
										<!-- Product image -->
										<div class="aside">
											<img src="{{ cart_item.product.images.url }}" class="img-sm">
										</div>

										<!-- Product info -->
										<figcaption class="info">
											<a href="{% url 'product_detail' category_slug=cart_item.product.category.slug product_slug=cart_item.product.slug %}" class="title text-dark">
												{{ cart_item.product.product_name }}
											</a>
											<span class="text-muted">
												{% for variation in cart_item.variations.all %}
													{{ variation.category|capfirst }} : {{ variation.value|capfirst }} <br>
												{% endfor %}
											</span>
											<span class="text-muted">{{ cart_item.quantity }}x = ${{ cart_item.sub_total }}</span>
										</figcaption>
									</figure>
								</div>
							</div>
							{% endfor %}
						</div>
					</article>

					<!-- Contact info -->
					<article class="card mb-4">
						<div class="card-body">
							<h4 class="card-title mb-4">Contact info</h4>
							<div class="row">
								<div class="form-group col-sm-6">
									<label>First name</label>
									<input type="text" name="first_name" class="form-control" placeholder="Type here">
								</div>
								<div class="form-group col-sm-6">
									<label>Last name</label>
									<input type="text" name="last_name" class="form-control" placeholder="Type here">
								</div>
								<div class="form-group col-sm-6">
									<label>Phone</label>
									<input type="text" name="phone" class="form-control" value="+998">
								</div>
								<div class="form-group col-sm-6">
									<label>Email</label>
									<input type="email" name="email" class="form-control" placeholder="example@gmail.com">
								</div>
							</div>
						</div>
					</article>

					<!-- Delivery info -->
					<article class="card mb-4">
						<div class="card-body">
							<h4 class="card-title mb-4">Delivery info</h4>
							<div class="row">
								<div class="form-group col-sm-6">
									<label>Country*</label>
									<select name="country" class="form-control">
										<option value="India">India</option>
										<option value="United States">United States</option>
										<option value="France">France</option>
										<option value="Italy">Italy</option>
									</select>
								</div>
								<div class="form-group col-sm-6">
									<label>State*</label>
									<input type="text" name="state" class="form-control" placeholder="Type here">
								</div>
								<div class="form-group col-sm-8">
									<label>Street*</label>
									<input type="text" name="street" class="form-control" placeholder="Type here">
								</div>
								<div class="form-group col-sm-4">
									<label>Building</label>
									<input type="text" name="building" class="form-control">
								</div>
								<div class="form-group col-sm-4">
									<label>House</label>
									<input type="text" name="house" class="form-control" placeholder="Type here">
								</div>
								<div class="form-group col-sm-4">
									<label>Postal code</label>
									<input type="text" name="postal_code" class="form-control">
								</div>
								<div class="form-group col-sm-4">
									<label>Zip</label>
									<input type="text" name="zip_code" class="form-control">
								</div>
							</div>
						</div>
					</article>

					<!-- Payment options -->
					<article class="accordion" id="accordion_pay">
						<div class="card">
							<header class="card-header">
								<img src="./images/misc/payment-paypal.png" class="float-right" height="24">
								<label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
									<input class="form-check-input" name="payment_method" type="radio" value="paypal" checked>
									<h6 class="form-check-label">Paypal</h6>
								</label>
							</header>
							<div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
								<div class="card-body">
									<p class="text-center text-muted">
										Connect your PayPal account and use it to pay your bills. You'll be redirected to PayPal to add your billing information.
									</p>
									<p class="text-center">
										<a href="#"><img src="./images/misc/btn-paypal.png" height="32"></a>
									</p>
								</div>
							</div>
						</div>

						<div class="card">
							<header class="card-header">
								<img src="./images/misc/payment-card.png" class="float-right" height="24">
								<label class="form-check" data-toggle="collapse" data-target="#pay_payme">
									<input class="form-check-input" name="payment_method" type="radio" value="card">
									<h6 class="form-check-label">Credit Card</h6>
								</label>
							</header>
							<div id="pay_payme" class="collapse" data-parent="#accordion_pay">
								<div class="card-body">
									<p class="alert alert-success">Some information or instruction</p>
									<div class="form-inline">
										<input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx">
										<input type="text" class="form-control mr-2" style="width: 100px" placeholder="dd/yy">
										<input type="number" maxlength="3" class="form-control mr-2" style="width: 100px" placeholder="cvc">
									</div>
								</div>
							</div>
						</div>
					</article>

				</main>

				<!-- Order summary and submit button -->
				<aside class="col-md-4">
					<div class="card position-sticky" style="top: 20px; z-index: 999;">
						<div class="card-body">
							<dl class="dlist-align">
								<dt>Total price:</dt>
								<dd class="text-right">${{ total }}</dd>
							</dl>
							<dl class="dlist-align">
								<dt>Tax:</dt>
								<dd class="text-right">${{ tax }}</dd>
							</dl>
							<dl class="dlist-align">
								<dt>Grand Total:</dt>
								<dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
							</dl>
							<hr>
							<p class="text-center mb-3">
								<img src="{% static './images/misc/payments.png' %}" height="26">
							</p>
							<button type="submit" class="btn btn-primary btn-block">
								Place Order
							</button>
						</div>
					</div>
				</aside>

			</div>
		</form>

	</div> <!-- container .//  -->
</section>

{% endblock content %}

